{%extends "index.html" %}

{% block mainbody %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html">Present</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/index" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/intro" class="nav-link">Intro</a></li>
            <li class="nav-item active"><a href="/about" class="nav-link">About</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- END nav -->

    <section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row probootstrap-vh-75 justify-content-center align-items-center text-center">
          <div class="col-md-8 order-md-1 order-2">
            <div class="probootstrap-text">
              <h1 class="probootstrap-heading probootstrap-stagger text-white mb-2">About Us</h1>
              <p class="mb-5 probootstrap-stagger lead">这是社交网络挖掘的期末项目</p>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-dark">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-md-8">
            <h2 class="probootstrap-heading">Meet The Team</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="media d-block mb-4">
              <img src="/static/images/wxx.jpg" alt="" class="img-fluid mb-3 rounded">
              <div class="media-body p-3">
                <h5 class="mt-0">吴茜茜</h5>
                <p>17300200036@fudan.edu.cn</p>
                <a href="https://github.com/WxxShirley">https://github.com/WxxShirley</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media d-block mb-4">
              <img src="/static/images/hxx.jpg" alt="" class="img-fluid mb-3 rounded">
              <div class="media-body p-3">
                <h5 class="mt-0">何晓昕</h5>
                <p>17307130334@fudan.edu.cn</p>
                <a href="https://github.com/Cautiousss">https://github.com/Cautiousss</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!--    <section class="probootstrap-section probootstrap-bg-dark">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->
<!--            <h5 class="mt-0">Bootstrap 4</h5>-->
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->
<!--            <h5 class="mt-0">HTML5</h5>-->
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->
<!--            <h5 class="mt-0">jQuery</h5>-->
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->
<!--            <h5 class="mt-0">Sass</h5>-->
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->


{% endblock %}