{%extends "index.html" %}

{% block mainbody %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/index">社交网络挖掘@2020</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href=/index class="nav-link">Home</a></li>
              <li class="nav-item active"><a href="/intro" class="nav-link">Intro</a></li>
              <li class="nav-item "><a href="/about" class="nav-link">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

<section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
      <div class="container ">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-8">
            <h2 class="probootstrap-heading">微博虚假用户检测</h2>
            <p class="mb-5 lead">——《社交网络挖掘》实践项目</p>
          </div>
        </div>
      </div>
      <div class="container-fluid mb-5">
        <div class="row">
          <div class="col-md-12">
            <div class="probootstrap-devices">
                <div class="container-fluid mb-5">
                    <div class="row">
                        <div class="col-md-12">
            <div class="probootstrap-devices">
              <img src="/static/images/device_1.png" class="probootstrap-device-left img-fluid" alt="Free Bootstrap 4 Template by uicookies.com">
              <img src="/static/images/device_2.png" class="probootstrap-device-right img-fluid" alt="Free Bootstrap 4 Template by uicookies.com" class="img-fluid">
              <img src="/static/images/device_3.png" class="probootstrap-device-center img-fluid" alt="Free Bootstrap 4 Template by uicookies.com">
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row probootstrap-vh-100 align-items-center  text-md-left text-sm-center text-center">
          <div class="col-md-8 order-md-1 order-2">
            <img src="/static/images/背景.png" class="img-fluid probootstrap-device-vertical-1" alt="Free Bootstrap 4 Template by uicookies.com">
          </div>
          <div class="col-md-4 order-md-2 order-1">
            <div class="probootstrap-text">
              <h1 class="probootstrap-heading probootstrap-stagger text-white mb-2">00 背景</h1>
                <p class="mb-5 probootstrap-stagger lead">《AlfredWu数据室》的<a href="https://mp.weixin.qq.com/s/SiNvDRb05KnmllpyYmdg_g">一篇推送</a> 中，对蔡徐坤的真假流量粉进行了分析。数据显示，蔡徐坤动辄100万+的微博转发中，确实存在绝大部分的假流量。这些假流量估计有两方面的来源：一是自身经纪公司购买的，二是忠实的粉丝自费购买的。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
      <div class="container ">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-10">
            <h2 class="probootstrap-heading">研究意义</h2>

            <p class="mb-5">
                如今，微博作为举足轻重的宣传平台，受到了广告商的青睐，他们通过发起话题、借助明星微博等方法来宣传产品。
                这些广告信息在没有监管的情况下，充斥着整个社交网络，不仅真实性无法保证，而且对用户体验产生了极大影响。</p>
              <p class="mb-5">
                另外，在新浪微博中，一些炒作团队也会使用批量注册的账号去对某一话题进行炒作，使其变成热门话题，借此达到影响舆论的目的。
                  这些批量注册的账号不仅给服务器增加了许多负担，而且扰乱了微博的生态秩序。由其制造的层出不穷的谣言也降低了微博作为信息来源的可靠性，影响普通用户的生活。</p>
          </div>
        </div>
      </div>
    </section>

<section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row align-items-center justify-content-center probootstrap-vh-75">
            <div class="col-md-8 text-center">
              <div class="probootstrap-text">
              <h1 class="probootstrap-heading text-white mb-5">01 数据集构建</h1>
                      <p class="mb-5 probootstrap-stagger lead">爬取新浪微博数据，包括用户个人信息、微博内容、关注的人与粉丝。 </p>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="probootstrap-cover probootstrap-scene-0 probootstrap-bg-dark">
        <div class="container">
          <div class="row align-items-center justify-content-center probootstrap-vh-75">
              <div class="col-md-8 text-center">
                <div class="probootstrap-text">
                <h1 class="probootstrap-heading text-white mb-5">02 网络可视化与分析</h1>
                      <p class="mb-5 probootstrap-stagger lead">分别对正常用户和虚假用户的社交网络进行可视化、网络属性的分析。选择典型的正常用户、虚假用户做特征比较。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

<section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row align-items-center justify-content-center probootstrap-vh-75">
            <div class="col-md-8 text-center">
              <div class="probootstrap-text">
              <h1 class="probootstrap-heading text-white mb-5">03 模型、评价方法和结果</h1>
                      <p class="mb-5 probootstrap-stagger lead">从数据集中抽取特征，设计多种机器学习模型来辨别社交网络中的虚假用户，并说明评价方法和结果。</p>
            </div>
          </div>
        </div>
      </div>
    </section>









{% endblock %}