{%extends "index.html" %}

{% block mainbody %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/index">社交网络挖掘@2020</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href=/index class="nav-link">Home</a></li>
              <li class="nav-item active"><a href="/intro" class="nav-link">Intro</a></li>
              <li class="nav-item "><a href="/about" class="nav-link">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

<section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
      <div class="container ">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-8">
            <h2 class="probootstrap-heading">微博虚假用户检测</h2>
            <p class="mb-5 lead">——《社交网络挖掘》实践项目</p>
          </div>
        </div>
      </div>
      <div class="container-fluid mb-5">
        <div class="row">
          <div class="col-md-12">
            <div class="probootstrap-devices">
                <div class="container-fluid mb-5">
                    <div class="row">
                        <div class="col-md-12">
            <div class="probootstrap-devices">
              <img src="/static/images/device_1.png" class="probootstrap-device-left img-fluid" alt="Free Bootstrap 4 Template by uicookies.com">
              <img src="/static/images/device_2.png" class="probootstrap-device-right img-fluid" alt="Free Bootstrap 4 Template by uicookies.com" class="img-fluid">
              <img src="/static/images/device_3.png" class="probootstrap-device-center img-fluid" alt="Free Bootstrap 4 Template by uicookies.com">
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row probootstrap-vh-100 align-items-center  text-md-left text-sm-center text-center">
          <div class="col-md-8 order-md-1 order-2">
            <img src="/static/images/背景.png" class="img-fluid probootstrap-device-vertical-1" alt="Free Bootstrap 4 Template by uicookies.com">
          </div>
          <div class="col-md-4 order-md-2 order-1">
            <div class="probootstrap-text">
              <h1 class="probootstrap-heading probootstrap-stagger text-white mb-2">00 背景</h1>
                <p class="mb-5 probootstrap-stagger lead">《AlfredWu数据室》的<a href="https://mp.weixin.qq.com/s/SiNvDRb05KnmllpyYmdg_g">一篇推送</a> 中，对蔡徐坤的真假流量粉进行了分析。数据显示，蔡徐坤动辄100万+的微博转发中，确实存在绝大部分的假流量。这些假流量估计有两方面的来源：一是自身经纪公司购买的，二是忠实的粉丝自费购买的。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
      <div class="container ">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-10">
            <h2 class="probootstrap-heading">研究意义</h2>

            <p class="mb-5">
                如今，微博作为举足轻重的宣传平台，受到了广告商的青睐，他们通过发起话题、借助明星微博等方法来宣传产品。
                这些广告信息在没有监管的情况下，充斥着整个社交网络，不仅真实性无法保证，而且对用户体验产生了极大影响。</p>
              <p class="mb-5">
                另外，在新浪微博中，一些炒作团队也会使用批量注册的账号去对某一话题进行炒作，使其变成热门话题，借此达到影响舆论的目的。
                  这些批量注册的账号不仅给服务器增加了许多负担，而且扰乱了微博的生态秩序。由其制造的层出不穷的谣言也降低了微博作为信息来源的可靠性，影响普通用户的生活。</p>
          </div>
        </div>
      </div>
    </section>

<section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row align-items-center justify-content-center probootstrap-vh-75">
            <div class="col-md-8 text-center">
              <div class="probootstrap-text">
              <h1 class="probootstrap-heading text-white mb-5">01 数据集构建</h1>
                      <p class="mb-5 probootstrap-stagger lead">爬取新浪微博数据，包括用户个人信息、微博内容、关注的人与粉丝。 </p>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="probootstrap-cover probootstrap-scene-0 probootstrap-bg-dark">
        <div class="container">
          <div class="row align-items-center justify-content-center probootstrap-vh-75">
              <div class="col-md-8 text-center">
                <div class="probootstrap-text">
                <h1 class="probootstrap-heading text-white mb-5">02 网络可视化与分析</h1>
                      <p class="mb-5 probootstrap-stagger lead">分别对正常用户和虚假用户的社交网络进行可视化、网络属性的分析。选择典型的正常用户、虚假用户做特征比较。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

<section class="probootstrap-cover probootstrap-scene-0">
      <div class="container">
        <div class="row align-items-center justify-content-center probootstrap-vh-75">
            <div class="col-md-8 text-center">
              <div class="probootstrap-text">
              <h1 class="probootstrap-heading text-white mb-5">03 模型、评价方法和结果</h1>
                      <p class="mb-5 probootstrap-stagger lead">从数据集中抽取特征，设计多种机器学习模型来辨别社交网络中的虚假用户，并说明评价方法和结果。</p>
            </div>
          </div>
        </div>
      </div>
</section>

 <section class="probootstrap-section probootstrap-bg-dark">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-md-8">
            <h2 class="probootstrap-heading">特征生成与分析</h2>
            <p>对于微博，人们在其上浏览、发布、转发和评论信息，而信息传播主要依赖于用户间社会性的交往与互动，在微博中这种社会关系是由用户间的 “关注—被关注”体现出来，它是现实世界中社会关系在社交网络中的复制和重构。基于此，垃圾应该产生于内容信息、用户行为和社会关系 3 方面， 故从这 3 个方面定义特征。</p>

          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="media d-block mb-4">
                <img src="/static/images/社会特征.png" alt="" class="img-fluid mb-3 rounded">
              <div class="media-body p-3">
                <h5 class="mt-0">社会特征</h5>
                  <p></p>
                <p>关注数 (F1)</p>
                  <p>粉丝数 (F2)</p>
                  <p>关注粉丝比 (F3)</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media d-block mb-4">
                <img src="/static/images/行为特征.png" alt="" class="img-fluid mb-3 rounded">
              <div class="media-body p-3">
                <h5 class="mt-0">用户行为特征</h5>
                  <p></p>
                <p>月均微博 (F4)</p>
                  <p>时间间隔 (F5)</p>
                  <p>转发比 (F6)</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media d-block mb-4">
                <img src="/static/images/内容特征.png" alt="" class="img-fluid mb-3 rounded">
              <div class="media-body p-3">
                <h5 class="mt-0">内容特征</h5>
                 <p></p>
                <p>URL 链接比 (F7)</p>
                  <p>微博评论比 (F8)</p>
                  <p>原创微博评论比 (F9) </p>
                  <p>微博平均长度 (F10) </p>
                  <p>博文余弦相似度(F11、F12)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="probootstrap-section">
      <div class="container">
          <div class="row mb-5 justify-content-center text-center">
          <div class="col-md-8">
            <h2 class="probootstrap-heading">模型</h2>
            <p>由于分类器对样本数量的敏感度、特征之间相关度的敏感度等均不相同，故选择不同的分类器得到的分类效果往往不同。我们使用了 7 个经典的分类器进行实验</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">

              <div class="media-body">
                <h5 class="mt-0">Naive Bayes (NB)</h5>
                <p>基于贝叶斯定理与特征之间独立假设基础之上，根据某对象的先验概率利用贝叶斯公式 计算出其后验概率，选择具有最大后验概率的类作为该对象所属的类</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">

              <div class="media-body">
                <h5 class="mt-0">logistic regression (LR)[</h5>
                <p>使用逻辑回归 sigmod 函数来计算后验概率，根据后验概率对所给对象进行分类识别</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">

              <div class="media-body">
                <h5 class="mt-0">support vector machine (SVM)</h5>
                <p>建立在统计学理论中的结构风险最小化准则基础上，原理是将低维空间的点映射到高维空间，使它们成为线性可分，再使用线性划分的原理来判断分类边界</p>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">k-nearest neighbor (kNN)</h5>
                <p>一种基于实例学习的非参数估计的分类方法，计算新样本与训练样本之间的距离，找到距离最近的 k 个邻居，如果邻居的大多数属于某一个类别，则该样本也属于这个类别</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">AdaBoost.M1 (ABM1)</h5>
                <p>一种提高给定学习算法精度的方法，使用同一个训练集训练不同的弱分类器，然后把这些弱分类器集合起来，构成一个强的最终分类器</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">decision trees (DT)</h5>
                <p>一种简单且快速的非参数树状分类方法，利用信息增益率来选择特征，将信息增益率最大的特征作为决策树的分裂节点，每个分支均重复这一过程</p>
              </div>
            </div>
          </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">random forest (RF)</h5>
                <p>以决策树为基本分类器的一个集成学习分类方法，它包含多个由 BA 集成学习技术训练 得到的决策树，当输入待分类的样本时，最终的分类结果由单个决策树的输出结果投票决定</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
      <div class="container ">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-8">
            <h2 class="probootstrap-heading">评价方法与实验结果</h2>
              <p class="mb-5 lead">对于一个模型的好坏，常常采用一系列指标来评价。往往评价指标分数越高，则反映模型更准确，具有更好的泛化性等。</p>
              <img src="/static/images/结果.png" width="800px" height="600px">

          </div>
        </div>
      </div>
    </section>










{% endblock %}